body {
  font-family: Arial, sans-serif;
}

.input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  background: #2d2d2d;
  color: white;
  border: none;
}

.btn {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  font-weight: bold;
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}

.btn:hover {
  opacity: .8;
}
